<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- Referencing properties from system properties set by PropertyManager -->
        <Property name="logLevel">${sys:log.level}</Property>
        <Property name="logFilePath">${sys:log.file.path}</Property>
        <Property name="logPattern">${sys:log.pattern}</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>

        <File name="File" fileName="${logFilePath}">
            <PatternLayout pattern="${logPattern}"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="${logLevel}">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>